[Unit]
Description=Burn In HDD
BindsTo=dev-%i.device

[Service]
Type=simple
# adjust to your working directory
WorkingDir=/opt/burnin/
ExecStart=/bin/sh -c "exec burnin %I"
